@charset "utf-8";
.header{
  width: 100%;
}
.bkgr{
  width: 100%;
  background: #e3f2fd;
}
.inner{
  width: 1100px;
  margin: 0 auto;
}
nav {
  background-color: #ffffff;
}
nav ul {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}
nav ul li {
  padding: 0;
  display: flex;
  align-items: center;
}
nav ul li a {
  color: #ffffff;
  text-decoration: none;
  display: block;
  display: flex;
}
.cont-btn{
  padding: 25px 0;
  transition: 0.3s;
}
nav ul li i {
  color: #777;
  text-decoration: none;
  padding: 15px 10px;
  display: block;
  font-size: small;
  height: 50px;
  width: 50px;
  line-height: normal;
}
nav ul li a.cont-btn{
  background-color: #6ba7ab;
  font-size: 12px;
  padding: 12px 14px;
}
nav ul li a.cont-btn:hover{
  background-color: #333;
}
.main{
  width: 100%;
}
div.top-image {
  background-image: url('/images/keyvisual/keyvisual.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  padding: 400px 0;
  font-size: 40px;
  font-weight: 700;
  color: #ffffff;
}

.text-1{
  padding-bottom: 30px;
  text-align: center;
  width: 100%;
  font-size: 60px;
  font-weight: 700;
  color: #6ba7eb
}
.text-2{
  font-size: 40px;
  font-weight: 700;
}

.pc-image-section{
  display: grid;
  grid-template-columns: 40% 60%;
  justify-content: space-between;
}
.pc-image{
  background: #e3f2fd;
  display: block;
  width: 250px;
  justify-content: flex-start;
  height: auto;
  padding-top: 50px;
}
.text-group{
  display: inline-block;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-self: center;
}
.work{
  width: 100%;
  padding-top: 20px;
  padding-bottom: 35px;
  font-size:40px;
  font-weight: 700;
  letter-spacing: 10px;
  text-align: center;
}
.text{
  width: 100%;
  word-break: break-all;
  line-height: 18px;
  font-size: 15px
}

.skills-section{
  padding-bottom: 70px;
}
.sub-theme{
  text-align: center;
  font-size: 40px;
  letter-spacing: 10px;
  padding: 50px 0;
}

.wrapper{
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 100px;
  flex-direction: column;
}
.opacity{
  opacity: 0.7;
}
.opacity:hover{
  opacity: 1.0;
}

.bkgr-slct-pln{
  background: #d0dfea;
}
.select-plan-grp{
  display: flex;
  flex-direction: column;
  padding-bottom: 50px;
}
table{
  border: solid 3px;
  border-collapse: collapse;
}
table th {
  background-color: #6ba7eb;
  padding: 10px;
}

table tr:nth-child(2),
table tr:nth-child(4),
table tr:nth-child(6) {
  background-color: #f9f9f9;
}

table tr:nth-child(3),
table tr:nth-child(5) {
  background-color: #e0efff;
}

table td {
  border-right: 1px solid white;
  border-collapse: collapse;
  padding: 10px;
}
.bkgr-link-grp{
  background: #e3f2fd;
  display: flex;
}
.link-grp{
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 200px 0;
}
i {
  color: #8c8c8c;
  text-decoration: none;
  padding: 10px 15px;
  width: 185px;
  padding: 25px 0;
  display: block;
  font-size: 40px;
  overflow: hidden;
  height: 25px;
  margin: 0 auto;
}
.fab, .fas{
  transition: 0.5s;
}
.fab:hover, .fas:hover{
  color: #fff;
}

.bkgr-copyright{
  background: #cfd8dc;
}
footer {
  background-color: #f1f1f1;
  color: #333;
  text-align: center;
  padding: 20px 0 25px 0;
  bottom: 0;
  width: 100%;
}

footer p {
  text-align: right;
  font-size: 10px;
  letter-spacing: 0.5px;
  margin: 0;
}
